:root{
  background-image: url(./assets/background.png);
  background-size: 30rem;
  border: 2px solid red;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}